/* TREATMENTS
-------------------------------------------------*/
.courses {
    @extend %space;
    background: $colorBg;
    .row {
        @include breakpoint(small) {
            display: -webkit-flex; /* Safari */
            -webkit-flex-wrap: wrap; /* Safari 6.1+ */
            display: flex;
            flex-wrap: wrap;
        }
    }
    [class^="col-"] {
        @include breakpoint(small) {
            display: -webkit-flex; /* Safari */
            display: flex; 
        }
    }
    .icon {
        font-size: 1.5rem;
        color: $colorPrimary;
    }
}
